* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    box-shadow: black 20px 10px 50px;
}

.btn {
    font-size: 3rem;
    width: 25%;
    background-color: blueviolet;
    box-shadow: 10px 10px;
    border-radius: 25%;
}